doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        title Jquery template
    body
        include /layouts/sidebar
        #root
            include /layouts/header
            block main
            include /layouts/footer

